/* CSS Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q,
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dev-test {
  border: solid 1px green;
  background-color: #222222;
  display: flex;
  text-align: center;
}
.dev-test a {
  font-size: 1.5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  flex: 2;
  padding: 20px;
  color: white;
  text-decoration: none;
}
.dev-test a:hover {
  background-color: #0077ea;
}
#dev-close {
  flex: 1;
}
.text-blue {
  color: #00a69c;
}
.text-green {
  color: #8cc63f;
}
@font-face {
  font-family: typografix;
  src: url(fonts/Typografix-demo.otf);
}
p {
  color: #828282;
  line-height: 2em;
}
h2 {
  font-size: 5em;
  color: #00a69c;
  flex: 1;
  padding: 60px;
  font-family: typografix, helvetica, arial, sans-serif;
  font-weight: 100;
  text-align: center;
}
h3 {
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 2.5em;
  color: #828282;
  font-weight: 100;
  text-align: left;
  width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.mt {
  margin-top: 4em;
}
.mb {
  margin-bottom: 4em;
}
body {
  font-family: Open Sans, helvetica, arial, sans-serif;
}
.wrap {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
}
.content {
  max-width: 1360px;
  width: 100%;
  margin: auto;
  padding: 20px;
}
header {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
header .logo {
  flex: 2.5;
  min-width: 20%;
}
header .logo img {
  width: 100%;
  max-width: 250px;
  padding: 10px 0 20px 0;
}
.menu {
  display: flex;
  flex: 8;
  align-items: stretch;
  text-align: center;
}
.menu a {
  flex: 1;
  padding: 20px;
  text-decoration: none;
  color: #535353;
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}
.menu a span {
  flex: 1;
  padding-top: 20px;
}
.menu a:hover {
  background-color: #f6f6f6;
}
.mob-menu {
  display: none;
  flex: 1;
  min-width: 20%;
  list-style-type: none;
  text-decoration: none;
  color: #00a69c;
  font-size: 1.5em;
}
.auspic {
  width: 100%;
  height: 500px;
  background: url('img/header.jpg') center top;
  background-size: cover;
}
.auspic h2 {
  padding-bottom: 0;
  color: white;
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 4.5em;
}
.auspic p {
  font-size: 2.5em;
  font-family: Open Sans, helvetica, arial, sans-serif;
  color: #d6d6d6;
  text-align: center;
  margin: 0;
  margin-top: -30px;
}
.auspic a {
  display: block;
  text-align: center;
  width: 20%;
  border-radius: 8px;
  margin: 15px auto 0 auto;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px white;
  color: white;
  font-family: Open Sans, helvetica, arial, sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  transition: all 0.5s linear;
}
.auspic a:hover {
  background-color: #00a69c;
}
.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box a {
  flex: 1 1 20%;
  display: block;
  position: relative;
  margin-left: 1em;
}
.box a .title {
  position: absolute;
  left: 0;
  bottom: 15px;
  background-color: rgba(0, 166, 156, 0.8);
  padding: 10px 20px 10px 10px;
  color: white;
}
.box a:first-child {
  margin: 0;
}
.box a:hover {
  background-color: white;
}
.box img {
  width: 100%;
}
.half {
  flex-basis: 50%;
  padding: 0;
}
.half h3 {
  margin: 0;
}
.half p {
  font-size: 1.2em;
  line-height: 45px;
}
.half a {
  color: #00a69c;
  display: block;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
  transition: padding 0.1s ease-in-out;
}
.half a span {
  display: block;
}
.half a:hover {
  background-color: #00a69c;
  color: white;
  padding: 20px;
}
.video-wrapper {
  position: relative;
  padding-bottom: 53.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-40 {
  flex-basis: 40%;
  padding-right: 40px;
}
.flex-60 {
  flex-basis: 60%;
}
.home-intro {
  line-height: 30px;
}
.wideling {
  width: 100%;
  height: 350px;
  background-color: #00a69c;
  margin: 10px 0 10px 0;
  position: relative;
  overflow: hidden;
  color: white;
}
.wideling img {
  margin-left: 15px;
  width: 60%;
}
.wideling .cover {
  position: absolute;
  width: 50%;
  height: 100%;
  right: -10px;
  top: 0;
  transform: skewX(-15deg);
  background-color: #00a69c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wideling .placer {
  width: 80%;
  transform: skewX(15deg);
}
.wideling .placer p {
  color: white;
}
.wideling .placer h3 {
  color: white;
  margin: 0;
}
.wideling-alt {
  background-color: #8cc63f;
}
.wideling-alt img {
  float: right;
  margin-right: 15px;
}
.wideling-alt .cover {
  background-color: #8cc63f;
  left: -10px;
}
.section-title {
  width: 100%;
  max-height: 800px;
  text-align: center;
  background: url('img/title-background.jpg') 50% 50%;
  background-size: cover;
  display: flex;
  z-index: -101;
}
.section-title h2 {
  color: white;
}
.section-title-under {
  padding-top: 100px;
  margin-top: -100px;
}
.quote-box {
  width: 100%;
  margin-top: 60px;
  position: relative;
}
.quote-box .quote-box-bg {
  margin-left: -80px;
  width: 130%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00a69c;
  transform: rotate(3.5deg);
  z-index: -100;
}
.quote-box .quote-box-inner {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1360px;
  flex-wrap: wrap;
  padding: 70px 0 70px 0;
}
.quote-box .quote-box-inner p {
  flex: 1 1 100%;
  padding: 30px;
  color: white;
  font-family: Calibri, helvetica, arial, sans-serif;
  font-weight: 100;
  font-style: italic;
  line-height: 42px;
  font-size: 1.7em;
}
.social {
  display: flex;
  margin-top: 1em;
}
.social .aus-news {
  flex: 5;
  margin-right: 2em;
}
.social .facebook {
  flex: 2;
  margin-top: 2em;
}
.social ul li {
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px #a6a6a6;
  padding: 2em 0 2em 0;
}
.social ul li img {
  padding: 1em;
  width: 40%;
}
.social ul li .article {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.social ul li .article h3 {
  color: #00a69c;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: Calibri, helvetica, arial, sans-serif;
}
.social ul li .article a {
  color: #00a69c;
  text-decoration: none;
  font-weight: bold;
}
.social ul li:last-child {
  border: none;
}
.footer-contact {
  width: 100%;
  display: flex;
  background-image: url('img/title-background.jpg');
  flex-wrap: wrap;
}
.footer-contact a {
  flex: 1;
  padding: 30px;
  background: rgba(0, 192, 180, 0.8);
  border: solid 1px rgba(255, 255, 255, 0.5);
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
}
.footer-contact a span {
  flex: 2;
}
.footer-contact a i {
  text-align: center;
  flex: 1;
  font-size: 2em;
}
.footer-contact a:hover {
  background-color: rgba(0, 217, 204, 0.8);
}
.footer {
  width: 100%;
  background-color: #222222;
  padding: 20px 0 20px 0;
}
.footer .footer-wrap {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.footer .footer-wrap ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer .footer-wrap ul li {
  flex: 1;
  padding: 10px;
  color: white;
}
.footer .footer-wrap ul li a {
  text-decoration: none;
  color: #00a69c;
}
.footer .footer-wrap ul li a:hover {
  color: white;
}
.footer .footer-wrap ul:last-child {
  margin-right: 25px;
}
body[class='mobile'] .mb {
  margin-bottom: 1em;
}
body[class='mobile'] .mt {
  margin-top: 1em;
}
body[class='mobile'] .content {
  padding: 5px;
}
body[class='mobile'] .content h2 {
  margin-bottom: 0;
}
body[class='mobile'] .facebook {
  display: none;
}
body[class='mobile'] .half {
  flex-basis: 100%;
}
body[class='mobile'] .flex-40 {
  padding: 0;
}
body[class='mobile'] .box {
  padding-top: 0;
}
body[class='mobile'] .box a:nth-child(odd) {
  margin-left: 0;
}
body[class='mobile'] .footer-contact a {
  flex-wrap: wrap;
  min-width: 45%;
}
body[class='mobile'] .hide {
  display: none;
}
body[class='mobile'] h2 {
  font-size: 3em;
  padding: 10px;
}
body[class='mobile'] .wrap {
  width: 800px;
}
body[class='mobile'] header {
  align-items: center;
}
body[class='mobile'] header .logo {
  margin-top: 10px;
  flex: 3 3 50%;
  padding-left: 10px;
}
body[class='mobile'] header .logo img {
  text-align: center;
  width: 100%;
  max-width: 180px;
  padding: 10px 0 20px 0;
}
body[class='mobile'] .menu {
  flex-direction: column;
  flex: 1 1 100%;
}
body[class='mobile'] .menu a {
  padding-top: 0;
  font-weight: 100;
  border-top: solid 1px #d3d3d3;
}
body[class='mobile'] .mob-menu {
  display: flex;
  align-items: center;
  text-align: center;
}
body[class='mobile'] .mob-menu i {
  flex: 1;
}
body[class='mobile'] .auspic {
  height: 300px;
  width: 100%;
}
body[class='mobile'] .auspic h2 {
  font-size: 2em;
}
body[class='mobile'] .auspic p {
  display: none;
}
body[class='mobile'] .auspic a {
  display: none;
}
body[class='mobile'] .box a {
  min-width: 300px;
  margin-left: 5px;
}
body[class='mobile'] .section-title {
  margin-bottom: 20px;
}
body[class='mobile'] .wideling {
  height: 250px;
}
body[class='mobile'] .wideling .cover {
  width: 60%;
}
body[class='mobile'] .social {
  margin-top: -25px;
}
body[class='mobile'] .social .aus-news {
  margin: 0;
}
body[class='mobile'] .social .aus-news ul {
  margin: 0;
  padding: 0;
}
body[class='mobile'] .wrap {
  width: 320px;
}
body[class='mobile'] h2 {
  font-size: 2em;
  padding: 10px;
}
body[class='mobile'] .content h2 {
  margin-bottom: 0;
}
body[class='mobile'] .facebook {
  display: none;
}
body[class='mobile'] .half {
  flex-basis: 100%;
}
body[class='mobile'] .half h3 {
  font-size: 1.8em;
}
body[class='mobile'] .half p {
  font-size: 1em;
  line-height: 1.7em;
}
body[class='mobile'] .rez {
  display: none;
}
body[class='mobile'] .auspic {
  height: 200px;
  width: 100%;
  background-position: 0 0;
}
body[class='mobile'] .auspic p {
  display: none;
}
body[class='mobile'] .half {
  flex-basis: 100%;
}
body[class='mobile'] .box {
  margin: 0;
  padding: 0;
  flex-direction: column;
}
body[class='mobile'] .box a {
  width: 100%;
  flex: 1;
  margin: 0;
}
body[class='mobile'] .social {
  margin-top: -25px;
}
body[class='mobile'] .quote-box {
  margin-top: 0;
  margin-bottom: 5px;
}
body[class='mobile'] .quote-box .quote-box-bg {
  transform: none;
}
body[class='mobile'] .quote-box .quote-box-inner {
  padding: 30px 0 30px 0;
}
body[class='mobile'] .quote-box .quote-box-inner p {
  font-size: 1em;
  line-height: 28px;
  font-style: normal;
}
body[class='mobile'] .footer-contact {
  flex-direction: column;
}
body[class='mobile'] .section-title-under {
  padding-top: 0;
  margin-top: 0;
}
body[class='mobile'] .social .aus-news {
  margin: 0;
}
body[class='mobile'] .social .aus-news ul {
  margin: 0;
  padding: 0;
}
body[class='mobile'] .social .aus-news ul li {
  flex-direction: column;
  border: 0;
}
body[class='mobile'] .social .aus-news ul li img {
  width: 100%;
  padding: 0 0 10px 0;
}
body[class='mobile'] .footer {
  display: none;
}
@media all and (max-width: 640px) {
  .mb {
    margin-bottom: 1em;
  }
  .mt {
    margin-top: 1em;
  }
  .content {
    padding: 5px;
  }
  .content h2 {
    margin-bottom: 0;
  }
  .facebook {
    display: none;
  }
  .half {
    flex-basis: 100%;
  }
  .flex-40 {
    padding: 0;
  }
  .box {
    padding-top: 0;
  }
  .box a:nth-child(odd) {
    margin-left: 0;
  }
  .footer-contact a {
    flex-wrap: wrap;
    min-width: 45%;
  }
  .hide {
    display: none;
  }
  h2 {
    font-size: 3em;
    padding: 10px;
  }
  .wrap {
    width: 800px;
  }
  header {
    align-items: center;
  }
  header .logo {
    margin-top: 10px;
    flex: 3 3 50%;
    padding-left: 10px;
  }
  header .logo img {
    text-align: center;
    width: 100%;
    max-width: 180px;
    padding: 10px 0 20px 0;
  }
  .menu {
    flex-direction: column;
    flex: 1 1 100%;
  }
  .menu a {
    padding-top: 0;
    font-weight: 100;
    border-top: solid 1px #d3d3d3;
  }
  .mob-menu {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .mob-menu i {
    flex: 1;
  }
  .auspic {
    height: 300px;
    width: 100%;
  }
  .auspic h2 {
    font-size: 2em;
  }
  .auspic p {
    display: none;
  }
  .auspic a {
    display: none;
  }
  .box a {
    min-width: 300px;
    margin-left: 5px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .wideling {
    height: 250px;
  }
  .wideling .cover {
    width: 60%;
  }
  .social {
    margin-top: -25px;
  }
  .social .aus-news {
    margin: 0;
  }
  .social .aus-news ul {
    margin: 0;
    padding: 0;
  }
  .wrap {
    width: 320px;
  }
  h2 {
    font-size: 2em;
    padding: 10px;
  }
  .content h2 {
    margin-bottom: 0;
  }
  .facebook {
    display: none;
  }
  .half {
    flex-basis: 100%;
  }
  .half h3 {
    font-size: 1.8em;
  }
  .half p {
    font-size: 1em;
    line-height: 1.7em;
  }
  .rez {
    display: none;
  }
  .auspic {
    height: 200px;
    width: 100%;
    background-position: 0 0;
  }
  .auspic p {
    display: none;
  }
  .half {
    flex-basis: 100%;
  }
  .box {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .box a {
    width: 100%;
    flex: 1;
    margin: 0;
  }
  .social {
    margin-top: -25px;
  }
  .quote-box {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .quote-box .quote-box-bg {
    transform: none;
  }
  .quote-box .quote-box-inner {
    padding: 30px 0 30px 0;
  }
  .quote-box .quote-box-inner p {
    font-size: 1em;
    line-height: 28px;
    font-style: normal;
  }
  .footer-contact {
    flex-direction: column;
  }
  .section-title-under {
    padding-top: 0;
    margin-top: 0;
  }
  .social .aus-news {
    margin: 0;
  }
  .social .aus-news ul {
    margin: 0;
    padding: 0;
  }
  .social .aus-news ul li {
    flex-direction: column;
    border: 0;
  }
  .social .aus-news ul li img {
    width: 100%;
    padding: 0 0 10px 0;
  }
  .footer {
    display: none;
  }
}
body[class='tablet'] .mb {
  margin-bottom: 1em;
}
body[class='tablet'] .mt {
  margin-top: 1em;
}
body[class='tablet'] .content {
  padding: 5px;
}
body[class='tablet'] .content h2 {
  margin-bottom: 0;
}
body[class='tablet'] .facebook {
  display: none;
}
body[class='tablet'] .half {
  flex-basis: 100%;
}
body[class='tablet'] .flex-40 {
  padding: 0;
}
body[class='tablet'] .box {
  padding-top: 0;
}
body[class='tablet'] .box a:nth-child(odd) {
  margin-left: 0;
}
body[class='tablet'] .footer-contact a {
  flex-wrap: wrap;
  min-width: 45%;
}
body[class='tablet'] .hide {
  display: none;
}
body[class='tablet'] h2 {
  font-size: 3em;
  padding: 10px;
}
body[class='tablet'] .wrap {
  width: 800px;
}
body[class='tablet'] header {
  align-items: center;
}
body[class='tablet'] header .logo {
  margin-top: 10px;
  flex: 3 3 50%;
  padding-left: 10px;
}
body[class='tablet'] header .logo img {
  text-align: center;
  width: 100%;
  max-width: 180px;
  padding: 10px 0 20px 0;
}
body[class='tablet'] .menu {
  flex-direction: column;
  flex: 1 1 100%;
}
body[class='tablet'] .menu a {
  padding-top: 0;
  font-weight: 100;
  border-top: solid 1px #d3d3d3;
}
body[class='tablet'] .mob-menu {
  display: flex;
  align-items: center;
  text-align: center;
}
body[class='tablet'] .mob-menu i {
  flex: 1;
}
body[class='tablet'] .auspic {
  height: 300px;
  width: 100%;
}
body[class='tablet'] .auspic h2 {
  font-size: 2em;
}
body[class='tablet'] .auspic p {
  display: none;
}
body[class='tablet'] .auspic a {
  display: none;
}
body[class='tablet'] .box a {
  min-width: 300px;
  margin-left: 5px;
}
body[class='tablet'] .section-title {
  margin-bottom: 20px;
}
body[class='tablet'] .wideling {
  height: 250px;
}
body[class='tablet'] .wideling .cover {
  width: 60%;
}
body[class='tablet'] .social {
  margin-top: -25px;
}
body[class='tablet'] .social .aus-news {
  margin: 0;
}
body[class='tablet'] .social .aus-news ul {
  margin: 0;
  padding: 0;
}
@media all and (min-width: 321px) and (max-width: 1000px) {
  .mb {
    margin-bottom: 1em;
  }
  .mt {
    margin-top: 1em;
  }
  .content {
    padding: 5px;
  }
  .content h2 {
    margin-bottom: 0;
  }
  .facebook {
    display: none;
  }
  .half {
    flex-basis: 100%;
  }
  .flex-40 {
    padding: 0;
  }
  .box {
    padding-top: 0;
  }
  .box a:nth-child(odd) {
    margin-left: 0;
  }
  .footer-contact a {
    flex-wrap: wrap;
    min-width: 45%;
  }
  .hide {
    display: none;
  }
  h2 {
    font-size: 3em;
    padding: 10px;
  }
  .wrap {
    width: 800px;
  }
  header {
    align-items: center;
  }
  header .logo {
    margin-top: 10px;
    flex: 3 3 50%;
    padding-left: 10px;
  }
  header .logo img {
    text-align: center;
    width: 100%;
    max-width: 180px;
    padding: 10px 0 20px 0;
  }
  .menu {
    flex-direction: column;
    flex: 1 1 100%;
  }
  .menu a {
    padding-top: 0;
    font-weight: 100;
    border-top: solid 1px #d3d3d3;
  }
  .mob-menu {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .mob-menu i {
    flex: 1;
  }
  .auspic {
    height: 300px;
    width: 100%;
  }
  .auspic h2 {
    font-size: 2em;
  }
  .auspic p {
    display: none;
  }
  .auspic a {
    display: none;
  }
  .box a {
    min-width: 300px;
    margin-left: 5px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .wideling {
    height: 250px;
  }
  .wideling .cover {
    width: 60%;
  }
  .social {
    margin-top: -25px;
  }
  .social .aus-news {
    margin: 0;
  }
  .social .aus-news ul {
    margin: 0;
    padding: 0;
  }
  body .wrap {
    width: 100%;
  }
}
